
{%extends "main/base.html"%}
{%load static%}



  {%block content%}
  <div class="d-flex flex-row mb-3">
    <div class="p-2"><div class="card" style="width: 18rem;">
      <img src="/static/image/abha.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Abha</h5>
        <p class="card-text">the capital of 'Asir Region in Saudi Arabia, with a population of 1,093,705 as of 2021. It is situated 2,270 metres (7,450 feet) above sea level in the fertile Asir Mountains of south-western Saudi Arabia.</p>
        <a href="https://www.youtube.com/watch?v=aSJdWNAvkEc" class="btn btn-primary">video abha</a>
      </div>
    </div>
  </div>
  {%endblock%}