{%extends "main/base.html"%}
{%load static%}

{%block content%}
<div class="d-flex flex-row mb-3">
    <div class="p-2"><div class="card" style="width: 18rem;">
      <img src="/static/image/AlUla.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Alula</h5>
        <p class="card-text">Summer has always been a special time in AlUla, where locals and travellers alike found refuge in the lush AlUla Oasis. As the heat rises across the Arabian ...
        </p>
        <a href="https://www.youtube.com/shorts/_fPqDxwKilQ" class="btn btn-primary">video Alula</a>
      </div>
    </div>
  </div>
{%endblock%}