{%extends "main/base.html"%}
{%load static%}

{%block content%}
<div class="d-flex flex-row mb-3">
    <div class="p-2"><div class="card" style="width: 18rem;">
      <img src="/static/image/makkah.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">makkah</h5>
        <p class="card-text">the holiest city in Islam and the capital of Mecca Province in Saudi Arabia.[2] It is 70 km (43 mi) inland from Jeddah on the Red Sea.</p>
        <a href="https://www.youtube.com/watch?v=9j2dYcRJa54" class="btn btn-primary">video makkah</a>
      </div>
    </div>
  </div>
{%endblock%}