{%extends "main/base.html"%}
{%load static%}


{%block content%}





<div class="d-flex justify-content-center">
    <div class="p-2"><div class="card" style="width: 18rem;">
        <img src="/static/image/Riyadh.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Riyadh</h5>
        <p class="card-text">It is the largest city on the Arabian Peninsula, and is situated in the center of the an-Nafud desert, on the eastern part of the Najd plateau.</p>
        <a href="https://www.youtube.com/watch?v=CZKDJ6PxjxU" class="btn btn-primary">video Riyadh</a>
      </div>
    </div>
  </div>

{%endblock%}